---
import "@fontsource-variable/dm-sans";
import Container from "../../components/Container.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { Icon } from "astro-icon/components";
//import { getRelativeLocaleUrl } from 'astro:i18n';
---

<html lang="fr">
  <head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "lofi");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Thomas Hochet - Portfolio</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <div
      class="flex items-center absolute top-4 right-4 md:top-6 md:right-6 lg:top-8 lg:right-8 xl:top-10 xl:right-10 z-10"
    >
      <Icon name="carbon:moon" class="w-4 h-4" />
      <input
        type="checkbox"
        data-toggle-theme="black,lofi"
        data-act-class="ACTIVECLASS"
        class="toggle toggle-sm mx-1"
        checked
      />
      <Icon name="carbon:light" class="w-4 h-4" />
      <div class="dropdown inline-block relative">
        <button class="ml-2 bg-gray-100 text-gray-700 font-semibold px-4 rounded inline-flex items-center">
          <span class="mr-1">FR</span>
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
        </button>
        <ul class="ml-2 dropdown-menu absolute hidden text-gray-700 pt-1">
          <li><a class="rounded-t bg-gray-100 hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap" href="/fr">fr</a></li>
          <li><a class="rounded-b bg-gray-100 hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap" href="/">en</a></li>
        </ul>
      </div>

    </div>

    <div
      class="divider mx-auto h-fit max-w-3xl w-[95vw] flex flex-nowrap bg-secondary"
    >
    </div>
    <main
      class="mx-auto flex-grow max-h-[90vh] md:max-h-[70vh] max-w-3xl overflow-y-scroll py-2 grid w-[95vw]"
    >
      <div class="container">
        <Container />
      </div>
    </main>
    <Footer class="flex justify-center items-center py-4" />
  </body>
</html>

<style is:global>
  body {
    font-family: "DM Sans Variable", sans-serif;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 480px) {
    * {
      font-size: 12px;
    }
  }

  .overflow-y-scroll::-webkit-scrollbar {
    width: 3px;
  }

  .overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: #171717;
  }

  .overflow-y-scroll {
    scrollbar-width: 1px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
</style>
